@model PagedList.Core.IPagedList<Domain.Entity.AccountActivities>
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-lg-6">
        <h3 class="mb-4">Hesap Dökümü</h3>
    </div>
</div>

<table class="table table-dark">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">İşlem</th>
        <th scope="col">Açıklama</th>
        <th scope="col">Tarih</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.ProcessName</td>
            <td>@item.Description</td>
            <td>@item.OperationDate</td>
        </tr>
    }
    </tbody>
 <tr>
        <td colspan="5" align="center">
            <pager list="@Model" asp-controller="AccountActivities" asp-action="Index"/>
        </td>
    </tr>
</table>